<h1>КТГ це просто!</h1>
<div class="content-parents">
    <img [src]="mainImage" alt="Батьки" style="display: block; margin: 0 auto">
    <ul>
        <li>Ми єдині офіційні представники польської фірми Med systems pl, яка має багаторічний досвід праці в телемедицині, співпрацює з багатьма фірмами ЄС, Ізраїлю, США.</li>
        <li>Пропонуємо комплексні рішення найвищої якості, які можна використовувати як в державній, так і в приватній медичній практиці.</li>
        <li>Забезпечуємо цілодобовий контроль за станом плоду, навіть в домашніх умовах вагітної.</li>
    </ul>
</div>
<div class="content-home">
    <ul>
        <li *ngFor="let video of galleryToDisplayVideo">
            <iframe [src]="video" frameborder="0"></iframe>
        </li>
    </ul>
</div>