.content-ctg {
  ul {
    li {
      list-style: disc;
      margin: 20px 30px;
      font-size: 18px;
    }
  }

  p {
    line-height: 2;
    font-size: 18px;
  }

  h3 {
    display: block;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 3;
  }

  h2 {
    line-height: 3;
  }
}

.content-home {
  iframe {
    width: 100%;
    height: 420px;
  }
}
