.content-parents {
  ul {
    li {
      list-style: disc;
      margin: 20px 30px;
    }
  }

  p {
    line-height: 2;
    font-size: 18px;
  }

  h3 {
    font-weight: 300;
  }
}
.content-home {
  iframe {
    width: 100%;
    height: 420px;
  }
}
