@import "framework";
html {
  height: 100%;

  body {
    background: $defaultAppBackground;
    font-family: $defaultAppFont;
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;

    &:after {
      content: '';
      display: block;
      height: 200px;
    }

    .content {
      width: $defaultAppWidth;

      .container {
        max-width: $defaultAppMaxWidth;
      }

      .container-full {
        max-width: $defaultAppWidth;
      }

      .container, .container-full {
        margin: 40px auto 40px auto;
        width: $defaultAppWidth;
        min-height: 100%;

        h1{
          font-size: 3em !important;
          font-weight: 400;
          margin: 20px 0 35px 0 !important;
          font-family: $defaultAppFont;
          color: #000;
        }

        h2 {
          font-size: 32px;
          margin: 10px 0 30px 0;
          font-weight: 400;
          font-family: "Roboto", sans-serif;
          color: #000;
        }

        h3 {
          font-size: 21px;
          margin: 10px 0 30px 0;
          font-weight: 400;
          font-family: "Roboto", sans-serif;
          color: #000;
        }

        .image-wrapper {
          display: inline-block;
        }

        .image {
          margin: 10px;
          display: inline-block;

          &.image-photos {

          }

          &.image-certs {

          }
        }

        .link {
          margin: 10px 0;
        }

        .slideshow-container {
          width: 100%;
          margin: 20px auto;
          background: #ddd;
        }

        .data-container {
          margin: 10px 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  html {
    overflow-x: hidden;

    body {
      .content {
        .container {
          padding: 0 0 0 40px;

          .image-wrapper {
            display: block;
          }

          .image {
            display: block;
            margin: 20px auto;
          }
        }
      }
    }
  }
}
