@import "framework";

.contact-us-info {
  p {
    font-family: $defaultAppFont;
    font-size: 16px;
    color: #000;
    margin-left: 20px;
    font-weight: 300;

    a {
      font-family: $defaultAppFont;
      font-size: 16px;
      color: #000;
      font-weight: 300;
      text-decoration: underline;
    }
  }
}
