<div class="contact-us-info">
  <div class="contact-us-address">
    <h3>Нас можна знайти за адресою:</h3>
    <p>
      Україна, місто Хмельницький, вул. Степана Бандери 2/1 А, офіс 235
    </p>
  </div>
  <div class="contact-us-phone">
    <h3>Контактні телефони:</h3>
    <p>
      <a href="tel:+380632021182">+380-63-202-11-82</a>;
    </p>
  </div>
</div>
