<h1>Фото</h1>
<div class="content-certificates">
  <ul>
    <li *ngFor="let photo of photos" class="image-wrapper">
      <a [href]="photo.original" target="_blank">
        <img [src]="photo.resize" alt="Photo" class="image image-photos"/>
      </a>
    </li>
  </ul>
</div>
