<div class="content-instruction">
  <h1>Інформації для лікарів</h1>
  <h3>Приклади результату КТГ:</h3>
  <div class="data-container">
    <a [href]="instructionGraphic" class="link" target="_blank">Приклад графіка</a>
    <a [href]="instructionText" class="link" target="_blank">Приклад аналізів</a>
  </div>
</div>
