<h1>Наші сертифікати</h1>
<div class="content-certificates">
    <ul>
        <li *ngFor="let cert of certificates" class="image-wrapper">
            <a [href]="cert.original" target="_blank">
                <img [src]="cert.resize" alt="Certificate" class="image image-certs"/>
            </a>
        </li>
    </ul>
</div>
