.clear::after {
  content: ' ';
  display: table;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

h1, h2, h3, h4, h5, h6 {
  /*margin: 0;*/
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li, ol {
  list-style: none;
}

a{
  text-decoration: none;
  cursor: pointer;
}

